.loader{
    position: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255);
    transition: all 0.5s;
  }
  .loader .ring{
    height: 45px;
    width: 45px;
    border: 5px solid #ddd;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .loader .ring:after{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 5px solid #0059ff;
    border-top-color: transparent;
    animation: rotate 1.5s linear infinite;
  }

  @keyframes rotate {
    100%{
      transform: rotate(360deg);
    }
  }

  
.card.border.rounded.shadow-sm.verify_card{
    background-color:rgba(255,255,255,.89);
    margin:100px 20px 20px
}
@media (min-width:992px){
    .card.border.rounded.shadow-sm.verify_card{
        background-color:rgba(255,255,255,.89);
        margin:100px 200px 20px
    }
}
@media (min-width:768px){
    .card.border.rounded.shadow-sm.verify_card{
        background-color:rgba(255,255,255,.89);
        margin:100px 100px 20px
    }
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box
}
p{
    margin-top:0;
    margin-bottom:1rem;
    line-height:1.75
}
a{
    text-decoration:none;
    background-color:transparent;
    color:#fed136
}
a:hover{
    text-decoration:underline;
    color:#fec503
}
.login-clean{
    background:#f1f7fc;
    padding:80px 0
}
.login-clean form{
    max-width:320px;
    width:90%;
    margin:0 auto;
    background-color:#fff;
    padding:40px;
    border-radius:4px;
    color:#505e6c;
    box-shadow:1px 1px 5px rgba(0,0,0,.1)
}
.login-clean .illustration{
    text-align:center;
    padding:0 0 20px;
    font-size:100px;
    color:#f4476b
}
.login-clean form .form-control{
    background:#f7f9fc;
    border:none;
    border-bottom:1px solid #dfe7f1;
    border-radius:0;
    box-shadow:none;
    outline:0;
    color:inherit;
    text-indent:8px;
    /*height:42px*/
}
.login-clean form .btn-primary{
    background:#f4476b;
    border:none;
    border-radius:4px;
    padding:11px;
    box-shadow:none;
    margin-top:26px;
    text-shadow:none;
    outline:0!important
}
.login-clean form .btn-primary:active,
.login-clean form .btn-primary:hover{
    background:#eb3b60
}
.login-clean form .btn-primary:active{
    transform:translateY(1px)
}
